@import 'tailwindcss';

@theme {
    --color-primary: #4d6bfe;
}

html {
    @apply scroll-smooth;
}

::-webkit-scrollbar {
    display: none;
}

.flex-center {
    @apply flex items-center justify-center;
}

.shrink-icon {
    @apply h-12 w-12 hover:bg-gray-500/20;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}
.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

.reset-tw :not(pre):not(code) {
    all: revert;
}
